/*install font*/
@font-face {
    font-family: charmonman;
    src: url('../assets/fonts/Charmonman-Regular.ttf');
}
@font-face {
    font-family: tajawal;
    src: url('../assets/fonts/Tajawal-Regular.ttf');
}


.fitur {
    background: #1dd1a1;
}
body {
    margin: 0;
}
.container {
    width: 60%;
    overflow: hidden;
    margin: auto;
}
.header {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to left,#ee5253,#ff6b6b);
    padding-left: 40px;
}
.header .logo {
    font-size: 35px;
    font-family: charmonman;
    float: left;
    margin-bottom: 30px;
    color: #ffff;
}
.header .navbar {
    float: right;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header .navbar li {
    float: right;
    margin-left: 30px;
    font-size: 18px;
    font-family: tajawal;
    display: block;
}
.header .navbar li a {
   color: #ffff;
   text-decoration: none;
}
.header .navbar li a:hover {
    color: #222f3e;
    text-decoration: underline;
}
.desc {
    font-family: Roboto;
    font-size: 16px;
    float: left;
}
.desc2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}
.icon-kelas {
    Background: #c8d6e5;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../assets/trent-szmolnik-F5ae6ys2Mp8-unsplash.jpg);
    background-size: cover;
}
.parent {
    margin-top: 100px;
}