.fitur {
    background: #1dd1a1;
}
body {
    margin: 0;
}
.container {
    width: 60%;
    overflow: hidden;
    margin: auto;
}
.header {
    width: 100%;
    overflow: hidden;
    background: #ee5253;
    padding-left: 40px;
}
.header .logo {
    font-size: 35px;
    float: left;
    margin-bottom: 30px;
    color: #ffff;
}
.header .navbar {
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
}
.header .navbar li {
    float: right;
    margin-left: 30px;
    font-size: 18px;
    display: block;
}
.header .navbar li a {
   color: #ffff;
   text-decoration: none;
}
.header .navbar li a:hover {
    color: #222f3e;
    text-decoration: underline;
}